body
{
	margin:0;
	background-color: #BDBDBD;
}

.main-block{
	width: 35%;
	height: 600px;
	display: inline-block;
	margin-top: 3%;
	margin-left: 30%;
}
.banner{
	color: #fff;
	background-color: #333;
	width: 90%;
	height: 50px;
	padding-bottom: 4%;
	border-radius: 8px 8px 0 0;
	font-size: 30pt;
	text-align: center;
	text-transform: uppercase;
    font-style: oblique;
    font-weight: 800;
	font-family: cursive,sans-serif,Arial;
	margin-bottom: 5px;
}

.form-block{
	width: 80%;
	background-color: #f0f0f0;
	border-radius: 0px 0px 8px 8px;
	padding: 5%;
	box-shadow: 0px 8px 0px #9E9E9E;
}
.login-header{
	display: inline-block;
	padding: 8px 15%;
	text-transform: uppercase;
	border-bottom: 1px solid #000;
	cursor: pointer;
}
.register-header{
	display: inline-block;
	padding: 8px 15%;
	float: right;
	text-transform: uppercase;
	border-bottom: 1px solid #000;
	cursor: pointer;
}
label.username,label.userid,label.userpass,label.confirmpass{
	color: #72777c;
	font-size: 14px;
	cursor: pointer;
	font-family: Verdana,sans-serif,Arial;
}
input.username,input.userid,input.userpass,input.confirmpass{
	height:25px;
	width:100%;
	border-radius: 3px;
	font-size: 18px;
    font-style: oblique;
	padding: 2px;
	background-color: #ffffff;
	border: 2px solid #c9c9c9;
	font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
}
input.username:focus,input.userid:focus,input.userpass:focus,input.confirmpass:focus{
	border: 2px solid #52bad5;
	outline: none;
}
input.username:hover,input.userid:hover,input.userpass:hover,input.confirmpass:hover{
	border-color: #a6a6a6;
}
.username-block,.userid-block,.userpass-block,.confirmpass-block{
	padding: 2%;
}
.error{
	color: red;
}
.forgot a{
	padding: inherit;
	color: #424242;
	float: right;
}
input.submit{
	height: 40px;
	width: 60%;
	border-radius: 3px;
	background-color: #4CAF50;
	color: #fff;
	font-size: 12pt;
	cursor: pointer;
}
.butn-align{
	margin-top: 8%;
	text-align: center;
}

@media (max-width : 1280px)
{

}

@media (max-width : 980px)
{
	.main-block{width: 55%;margin-top: 3%;margin-left: 15%;}
	.login-header {padding: 8px 5%;}
	.register-header {padding: 8px 6%;}
}

@media (max-width : 768px)
{

}

@media (max-width : 640px)
{
	.main-block{width: 98%;margin-top: 3%;margin-left: 2%;}
}

@media(max-width: 360px)
{

}

@media(max-width: 320px)
{

}
